@import "_variables.scss";
@import "_spinner.scss";

//Layout
.full-vertical {
  height: 100vh;
  align-content: center;
}
.control {
  max-width: 200px;
}
.vertical-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 40vh;
}
.section {
  border: $primary solid 1px;
  border-radius: 10px;
}
.description {
  padding: 0 25%;
}
.centered {
  text-align: center;
}
.field {
  padding: 10px 0;
}
.container {
  margin: auto;
}
.dropdown-wrapper {
  text-align: left;
}
::selection {
  background: $primary; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $primary; /* Gecko Browsers */
}
.align-left {
  text-align: left;
}
.filter-option {
  padding: 0 10px 0 0;
  margin-left: none;
}
.filter-wrapper {
  display: inline;
  white-space: nowrap;
}
.radio {
  margin-right: 10px;
}
.form-wrapper {
  padding: 15px 0;
}